@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "./layout/mixins.scss";
@import "./layout/typography.scss";
@import "./layout/layout.scss";
body {
  background-color: #fefefe;
  margin: 0;
  overflow-y: auto;
}
